<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Aplikasi Peraturan Perusahaan</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/lib")
</head>
<body>
    @Html.Partial("_NavBar")
    <div class="container body-content">
        @*<div class="clearfix" style="margin-top:20px;"></div>
                    <div>
                        @Html.ActionLink("Home", "Index", "Home")
                        @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
                        {
                            @:> @Html.ActionLink(ViewContext.RouteData.Values["controller"].ToString(), "Index", ViewContext.RouteData.Values["controller"].ToString())
            }
                        @if (ViewContext.RouteData.Values["action"].ToString() != "Index")
                        {
                            @:> @Html.ActionLink(ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["action"].ToString(), ViewContext.RouteData.Values["controller"].ToString())
            }
                    </div>*@
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Aplikasi Peraturan Perusahaan</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
